.co-buyer__wrapper {
  width: 100%;
  grid-column-gap: 0.5vw;
  grid-row-gap: 0.5vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.co-buyer-employment-status__wrapper {
  width: 100%;
}