input[type="text"]::-webkit-input-placeholder {
  font-family: aktiv-grotesk,sans-serif;
  font-size: .8vw;
  font-weight: 600;
  line-height: 1vw;
}

input[type="date"]:focus {
  outline: none;
  border: 0;
}


.co-buyer__wrapper {
  width: 100%;
  grid-column-gap: 0.5vw;
  grid-row-gap: 0.5vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.co-buyer-employment-status__wrapper {
  width: 100%;
}

.car-image__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.car-image__wrapper img {
  width: 32vw;
  height: 18vw;
  object-fit: cover;
}